<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<form action="/diary/{{user.username}}/entry/{{entry._id}}/delete" method="post">
			<fieldset>
				<input type="hidden" name="_csrf" value="{{token}}" />
				<input type="hidden" name="_method" value="delete" />

				<p>Delete this Entry?</p>

				<a class="btn btn-primary" href="/diary/{{user.username}}/entry/{{entry._id}}">Nope</a>
				or
				<button class="btn btn-danger" type="submit">Yes go on please</button>
			</fieldset>
		</form>
	</div>
</div>