{{#if entry}}
	<article>
		<header>
			<time><a href="/diary/{{author.username}}{{entry.permalink}}">{{entry.niceDate}}</a></time>
		</header>

		<p>{{entry.content}}</p>

		{{#if diary.isOwner}}
			<footer>
				<a href="/diary/{{author.username}}{{entry.editlink}}">Edit this Entry</a>
				—
				<a class="text-danger" href="/diary/{{author.username}}{{entry.deletelink}}">Delete this Entry</a>
			</footer>
		{{/if}}
	</article>
{{/if}}