
<h1>{{diary.title}}</h1>

{{#if entries}}
	<ul>
		{{#each entries}}
			<li>
				<h2>{{content}}</h2>
				<time><a href="/diary/{{../author.username}}{{permalink}}">{{niceDate}}</a></time>

				{{#if editlink}}
					<p>
						<a href="/diary/{{../../author.username}}{{editlink}}">Edit this Entry</a>
						—
						<a class="text-danger" href="/diary/{{../../author.username}}{{deletelink}}">Delete this Entry</a>
					</p>
				{{/if}}
			</li>
		{{/each}}
	</ul>
{{else}}
	<div class="panel panel-info">
		<div class="panel-heading">
			<h3 class="panel-title">No Entries</h3>
		</div>

		<div class="panel-body">
			{{#if auth.loggedin}}
				SHOW NEW ENTRY FORM HERE
			{{else}}
				<p>{{author.firstName}}'s diary doesn't have any entries yet!</p>
			{{/if}}
		</div>
	</div>
{{/if}}
