<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<h2>Basic Info</h2>

		<form action="/your-profile/edit" method="post">
			<fieldset>
				<input type="hidden" name="_csrf" value="{{token}}" />
				<input type="hidden" name="_method" value="put" />

				<div class="form-group">
					<label for="name">Your Name</label>
					<input class="form-control" id="name" name="name" type="text" value="{{user.name}}" />
				</div>

				<div class="form-group">
					<label for="diaryTitle">Diary Title</label>
					<input class="form-control" id="diaryTitle" name="diaryTitle" type="text" value="{{diary.title}}" />
				</div>

				<div class="checkbox">
					<label><input type="checkbox" name="privateAccount" {{#if user.privateAccount}}checked="checked"{{/if}} value="true" /> Private account</label>
				</div>

				<button class="btn btn-primary" type="submit">Update</button>
			</fieldset>
		</form>

		<h2>Update Email Address</h2>

		<form action="/your-profile/change-email" method="post">
			<fieldset>
				<input type="hidden" name="_csrf" value="{{token}}" />
				<input type="hidden" name="_method" value="put" />

				<div class="form-group">
					<label for="email">Email Address</label>
					<input class="form-control" id="email" name="email" type="email" value="{{user.email}}" />
				</div>

				<button class="btn btn-primary" type="submit">Change Email</button>
			</fieldset>
		</form>

		<h2>Change Password</h2>

		<form action="/your-profile/change-password" method="post">
			<fieldset>
				<input type="hidden" name="_csrf" value="{{token}}" />
				<input type="hidden" name="_method" value="put" />

				<div class="form-group">
					<label for="current-password">Current Password</label>
					<input class="form-control" id="current-password" name="password" type="password" />
				</div>

				<div class="form-group">
					<label for="new-password">New Password</label>
					<input class="form-control" id="new-password" name="passwordNew" type="password" />
				</div>

				<div class="form-group">
					<label for="repeat-password">Repeat Password</label>
					<input class="form-control" id="repeat-password" name="passwordRepeat" type="password" />
				</div>

				<button class="btn btn-primary" type="submit">Change Password</button>
			</fieldset>
		</form>

		<hr>

		<div class="panel panel-danger">
			<div class="panel-heading">
				<h2 class="panel-title">Here Be Dragons</h2>
			</div>

			<div class="panel-body">
				<a class="btn btn-danger" href="/your-profile/delete">Delete Account</a>
			</div>
		</div>
	</div>
</div>