
{{#if saved}}
	<div class="alert alert-success">
		<p>SAVED YOUR BLOODY ENTRY</p>
	</div>
{{/if}}

{{#if diary.entries}}
	<ul>
		{{#each diary.entries}}
			<li>
				<h2>{{content}}</h2>
				<time><a href="/diary/{{../diary.author.username}}/entry/{{_id}}">{{niceDate}}</a></time>
			</li>
		{{/each}}
	</ul>
{{else}}
	<div class="panel panel-info">
		<div class="panel-heading">
			<h3 class="panel-title">No Entries</h3>
		</div>

		<div class="panel-body">
			{{#if auth.loggedin}}
				{{> _newEntryForm}}
			{{else}}
				<p>{{diary.author.firstName}}'s diary doesn't have any entries yet!</p>
			{{/if}}
		</div>
	</div>
{{/if}}